.u-knob, .u-knob > div
  position relative
  display inline-block
.u-knob > div
  width 100%
  height 100%

.u-knob-label
  width 100%
  pointer-events none
  position absolute
  left 0
  right 0
  top 0
  bottom 0

  i
    font-size 130%
