/* UFONTS */
//@import '../vendor/material/material-icons.css';
//@import '../vendor/fontawesome/all.css';
@import 'https://static.suporteleiloes.com.br/assets/material/material-icons.css';
@import 'https://static.suporteleiloes.com.br/assets/fontawesome/all.css';
@import '../fonts/roboto/roboto.css';
@import '../fonts/avenir-next/avenir.css';
