/* UMIXINS */
// --------------------------------------------------

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, '%')

// Utilities

@import './mixins/hide-text.mixin.styl'
@import './mixins/opacity.mixin.styl'
@import './mixins/image.mixin.styl'
@import './mixins/labels.mixin.styl'
@import './mixins/reset-filter.mixin.styl'
@import './mixins/resize.mixin.styl'
@import './mixins/responsive-visibility.mixin.styl'
@import './mixins/size.mixin.styl'
@import './mixins/tab-focus.mixin.styl'
@import './mixins/reset-text.mixin.styl'
@import './mixins/text-emphasis.mixin.styl'
@import './mixins/text-overflow.mixin.styl'
@import './mixins/vendor-prefixes.mixin.styl'

// Components
@import './mixins/alerts.mixin.styl'
@import './mixins/buttons.mixin.styl'
@import './mixins/panels.mixin.styl'
@import './mixins/pagination.mixin.styl'
@import './mixins/list-group.mixin.styl'
@import './mixins/nav-divider.mixin.styl'
@import './mixins/forms.mixin.styl'
@import './mixins/progress-bar.mixin.styl'
@import './mixins/table-row.mixin.styl'

// Skins
@import './mixins/background-variant.mixin.styl'
@import './mixins/border-radius.mixin.styl'
@import './mixins/gradients.mixin.styl'

// Layout
@import './mixins/clearfix.mixin.styl'
@import './mixins/center-block.mixin.styl'
@import './mixins/nav-vertical-align.mixin.styl'
@import './mixins/grid-framework.mixin.styl'
@import './mixins/grid.mixin.styl'

@import './mixins/transitions.mixin.styl'

@import './mixins/box-shadow.mixin.styl'
