/* UTHEMEWHITE */
.theme-white .u-header
  background-color: #ffffff
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(0, 0, 0, 0.05)

.theme-white .u-header .u-left-side .ico-menu
  color: #666

.theme-white .u-header-actions,
.theme-white .u-header-actions
  color: rgba(0, 0, 0, 0.6)

.theme-white .u-header-actions:hover,
.theme-white .u-header-actions:hover
  color: #000

.theme-white .u-header .u-right-side .u-user-photo:after
  color: rgba(0, 0, 0, 0.8)

.theme-white .u-header .u-right-side .u-user-photo:hover:after
  color: #000

.theme-white .u-header .u-nav .u-back
  color: #666

.theme-white .u-header .u-nav ul.u-nav-header a
  color: #000

.theme-white .u-header .u-nav ul.u-nav-header a.u-active,
.theme-white .u-header .u-nav ul.u-nav-header a:hover
  border-bottom: 3px solid rgba(0, 0, 0, 0.5)

.theme-white .u-header .u-nav .u-i-actions .u-btn-outline
  background: rgba(0, 0, 0, 0.1)
  color: #666

.theme-white .u-single-badge
  background: rgba(0, 0, 0, 0.1)

.theme-white .u-header .u-nav .u-i-actions .app-icon
  color: rgba(0, 0, 0, 0.6)

.theme-white .u-header .u-nav .u-i-actions .u-btn-outline:hover
  background: rgba(0, 0, 0, 0.2)

.theme-white .u-header .u-nav .u-i-actions .u-btn-outline span
  color: #666 !important

.theme-white .u-header .u-nav .u-i-actions .app-icon.u-active,
.theme-white .u-header .u-nav .u-i-actions .app-icon:hover
  color: #666

.theme-white .u-header .u-nav ul .u-separator:before
  background: #666666
