// Contextual backgrounds
bg-variant($color)
  background-color $color
  a {
    &:hover, &:focus {
      background-color darken($color, 10)
    }
  }

font-wariant($bg-color)
  $font-color = desaturate(lighten($bg-color, 40), 10)
  $link-color = desaturate(lighten($bg-color, 50), 10)
  $hover-color = white
  color: $font-color
  a
    color: $link-color
    &:hover
      color: $hover-color
    &.list-group-item
      &:hover,
      &:focus
        background-color: inherit
  .nav
    > li
      &:hover,
      &:focus,
      &.active
        > a
          color: $hover-color
          color-schema($bg-color, 5, 2.5)
      > a
        color: darken($link-color, 5)
        &:hover,
        &:focus
          color-schema($bg-color, 3, 2.5)
    .open > a
      color-schema($bg-color, 5, 2.5)
  .caret
    border-top-color: $font-color
    border-bottom-color: $font-color
  &.navbar .nav
    > li.active > a
      color: $hover-color
      color-schema($bg-color, 5, 2.5)
  .open > a
    &,
    &:hover,
    &:focus
      color: $hover-color
  .text-muted
    color: darken($font-color, 10) !important
  .text-lt
    color: lighten($font-color, 25) !important
  &.auto,
  .auto
    .list-group-item
      border-color: darken($bg-color, 5) !important
      background-color: transparent
      &:hover,
      &:focus,
      &:active,
      &.active
        color-schema($bg-color, 5, 2.5, true)

text-wariant($bg-color, $name)
  a.bg-{$name}:hover
    background-color: darken($bg-color, 5)
  a.text-{$name}:hover
    color: darken($bg-color, 5)
  .text-{$name}
    color: $bg-color
    color s('var(--u-color-%s)', $name) !important
  .text-{$name}-lt
    color: lighten($bg-color, 5)
  .text-{$name}-lter
    color: lighten($bg-color, 10)
  .text-{$name}-dk
    color: darken($bg-color, 5)
  .text-{$name}-dker
    color: darken($bg-color, 10)

color-variant($bg-color = #555555, $lt-percent = 10, $lter-percent = 15, $dk-percent = 10, $dker-percent = 15)
  background-color: $bg-color
  &.lt,
  .lt
    color-schema($bg-color, $lt-percent * -1, -2.5)
  &.lter,
  .lter
    color-schema($bg-color, $lter-percent * -1, -5)
  &.dk,
  .dk
    color-schema($bg-color, $dk-percent, 2.5)
  &.dker,
  .dker
    color-schema($bg-color, $dker-percent, 5)
  &.bg,
  .bg
    background-color: $bg-color

font-wariant($bg-color)
  $font-color = desaturate(lighten($bg-color, 40), 10)
  $link-color = desaturate(lighten($bg-color, 50), 10)
  $hover-color = white
  color: $font-color
  a
    color: $link-color
    &:hover
      color: $hover-color
    &.list-group-item
      &:hover,
      &:focus
        background-color: inherit
  .nav
    > li
      &:hover,
      &:focus,
      &.active
        > a
          color: $hover-color
          color-schema($bg-color, 5, 2.5)
      > a
        color: darken($link-color, 5)
        &:hover,
        &:focus
          color-schema($bg-color, 3, 2.5)
    .open > a
      color-schema($bg-color, 5, 2.5)
  .caret
    border-top-color: $font-color
    border-bottom-color: $font-color
  &.navbar .nav
    > li.active > a
      color: $hover-color
      color-schema($bg-color, 5, 2.5)
  .open > a
    &,
    &:hover,
    &:focus
      color: $hover-color
  .text-muted
    color: darken($font-color, 10) !important
  .text-lt
    color: lighten($font-color, 25) !important
  &.auto,
  .auto
    .list-group-item
      border-color: darken($bg-color, 5) !important
      background-color: transparent
      &:hover,
      &:focus,
      &:active,
      &.active
        color-schema($bg-color, 5, 2.5, true)

color-schema($bg-color = #555555, $percent = 15, $sat-percent = 0, $important = false)
  if $percent < 0
    if $important == false
      background-color: desaturate(lighten($bg-color, $percent * -1), $sat-percent * -1)
    else
      background-color: desaturate(lighten($bg-color, $percent * -1), $sat-percent * -1) !important
  else
    if $important == false
      background-color: saturate(darken($bg-color, $percent), $sat-percent)
    else
      background-color: saturate(darken($bg-color, $percent), $sat-percent) !important
