.u-alert
  border-radius $border-radius-base
  box-shadow none

  .avatar
    width 32px
    height 32px

.u-alert-side, .u-alert-content
  padding 12px
  font-size 16px
  word-break break-word

.u-alert-side
  font-size 24px
  background rgba(0, 0, 0, .1)

.u-alert-actions
  padding 12px 12px 12px 0

.u-alert-detail
  font-size 12px
