minimized-modal()
  max-width 80vw
  max-height 80vh

maximized-modal()
  width 100%
  height 100%
  max-width 100%
  max-height 100%

.modal-content
  position relative
  background $modal-background
  box-shadow $popover-box-shadow
  overflow-y auto
  will-change scroll-position
  min-width 280px
  max-height 80vh
  -webkit-backface-visibility hidden
  outline 0

.modal
  z-index $z-modal
  &.minimized, &.with-backdrop
    background $dimmed-background
  &.minimized .modal-content
    minimized-modal()
  &.maximized .modal-content
    maximized-modal()

.u-modal-enter, .u-modal-leave-active
  opacity 0

@media (min-width $breakpoint-md-min)
  .modal:not(.maximized)
    background $dimmed-background
    &.u-modal-enter .modal-content
      transform scale(1.2)
    &.u-modal-leave-active .modal-content
      transform scale(.8)
  .modal.maximized
    &.u-modal-enter, &.u-modal-leave-active
      .modal-content
        transform translateY(30%)

@media (max-width $breakpoint-sm-max)
  .u-responsive-modal
    overflow hidden
  .modal:not(.minimized)
    .modal-content
      maximized-modal()
    &.u-modal-enter, &.u-modal-leave-active
      .modal-content
        transform translateY(30%)
  .modal.minimized
    &.u-modal-enter .modal-content
      transform scale(1.2)
    &.u-modal-leave-active .modal-content
      transform scale(.8)

.u-maximized-modal
  overflow hidden

.modal, .modal-content
  transition all .2s ease-in-out

.modal-header
  text-align $modal-header-text-align
  padding $modal-header-padding
  font-size $modal-header-font-size
  font-weight 500

.modal-body
  padding $modal-body-padding
  color $modal-body-color

.small-modal-scroll, .modal-scroll, .big-modal-scroll
  overflow auto
  -webkit-overflow-scrolling touch
  will-change scroll-position
.small-modal-scroll
  max-height (.65 * $modal-scroll-size)
.modal-scroll
  max-height $modal-scroll-size
.big-modal-scroll
  max-height (2 * $modal-scroll-size)

.modal-buttons
  padding $modal-buttons-padding
  justify-content flex-end
  color $primary
  color var(--u-color-primary)
  &.row
    .u-btn + .u-btn
      margin-left 8px
  &.column
    align-items flex-end
    .u-btn + .u-btn
      margin-top 8px

.u-modal-bottom-enter, .u-modal-bottom-leave-active
  opacity 0
  .modal-content
    transform translateY(30%)

.u-modal-top-enter, .u-modal-top-leave-active
  opacity 0
  .modal-content
    transform translateY(-30%)

.u-modal-right-enter, .u-modal-right-leave-active
  opacity 0
  .modal-content
    transform translateX(30%)

.u-modal-left-enter, .u-modal-left-leave-active
  opacity 0
  .modal-content
    transform translateX(-30%)
